// Configure your Ushahidi deployment
//
// Uncomment lines below to configure your deployment
// window.ushahidi = {
// 	backendUrl : "https://ushahidi-platform-api-release.herokuapp.com"
// };

window.ushahidi = {
	gaEnabled : {{ 'true' if platform_client_ga_key else 'false' }},
	gaKey : "{{ platform_client_ga_key }}",
	intercomAppId: "{{ platform_client_intercom_appid }}",
	appStoreId: "{{ platform_client_app_store_id }}",
	mapboxApiKey: "{{ platform_client_mapbox_api_key }}",
	ravenUrl: "{{ platform_client_raven_url }}",
	tosReleaseDate: "{{platform_client_tos_release_date}}",
	platformn_websocket_redis_addpater_url: "{{ platformn_websocket_redis_addpater_url }}",
	platformn_websocket_redis_addpater_port: "{{ platformn_websocket_redis_addpater_port }}"
};

{% if platform_client_multisite_domain %}
// Cloud API routing
// Assuming we have a hostname like zombies.ushahidi.io
// The API will be zombies.api.ushahidi.io
var deploymentsDomain = '{{ platform_client_multisite_domain }}';
var apiDomain = '{{ platform_client_multisite_api_domain }}';
window.ushahidi.backendUrl = location.protocol + "//" + location.hostname.replace(deploymentsDomain, apiDomain) + (location.port ? ":" + location.port : "");
{% elif platform_client_backend_url %}
window.ushahidi.backendUrl = "{{ platform_client_backend_url }}";
{% endif %}
