// Configure your Ushahidi deployment
//
// Uncomment lines below to configure your deployment
// window.ushahidi = {
// 	backendUrl : "https://ushahidi-platform-api-release.herokuapp.com"
// };

window.ushahidi = {
	gaEnabled : {{ 'true' if platform_client_ga_key else 'false' }},
	gaKey : "{{ platform_client_ga_key }}",
	intercomAppId: "{{ platform_client_intercom_appid }}",
	mapboxApiKey: "{{ platform_client_mapbox_api_key }}"
};

{% if platform_client_multisite_domain %}
// Cloud API routing
// Assuming we have a hostname like zombies.ushahidi.io
// The API will be zombies.api.ushahidi.io
var deploymentsDomain = '{{ platform_client_multisite_domain }}';
var apiDomain = '{{ platform_client_multisite_api_domain }}';
window.ushahidi.backendUrl = location.protocol + "//" + location.hostname.replace(deploymentsDomain, apiDomain) + (location.port ? ":" + location.port : "");
{% endif %}
