BACKEND_URL={{ platform_client_backend_url }}
TX_USERNAME={{ platform_client_tx_username }}
TX_PASSWORD={{ platform_client_tx_password }}
APP_LANGUAGES={{ platform_client_app_languages }}
RAVEN_URL={{ platform_client_raven_url }}
ASSETS_DOMAIN={{ platform_client_assets_domain }}
